.section-socials {
  padding-top: 13.75rem;

  .content {
    margin-bottom: 4.75rem;

    p {
      color: #363636;
      font-size: 1.125rem;
    }
  }

  .socials {

    a {
      margin-left: 0.675rem;
      margin-right: 0.675rem;

      &:hover {
        text-decoration: unset;
      }
    }
  }
}
