.section-intro {
  padding-top: 6.75rem;
  padding-bottom: 4.25rem;

  .content {
    color: #333538;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
}
.section-news {
  background-image: url('../images/page-brochures/section-01-bim.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5.625rem;
  padding-bottom: 9.125rem;

  .section-content {
    background-color: #ffffff;
    padding: 6rem;
  }

  .news {
    position: relative;
    height: 100%;
    padding: 2.5rem 2.5rem;

    &.even {
      background-color: #d7d7d7;

      .title {
        color: #333538;
      }
      .content {
        color: #333538;
      }
      .date {
        color: #333538;
      }
      .read-more {
        color: #333538;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -0.875rem;
        width: 0;
        height: 0;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-right: 1rem solid #d7d7d7;
        z-index: 999;
      }
      @media only screen and (max-width: 1200px) {
        &::after {
          content: "";
          position:absolute;
          top: -0.875rem;
          left: 50%;
          border-top: unset;
          border-left: 1rem solid transparent;
          border-right: 1rem solid transparent;
          border-bottom: 1rem solid #d7d7d7;
        }
      }
    }
    &.odd {
      background-color: #282828;

      .title {
        color: #d7d7d7;
      }
      .content {
        color: #d7d7d7;
      }
      .date {
        color: #d7d7d7;
      }
      .read-more {
        color: #d7d7d7;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -0.875rem;
        width: 0px;
        height: 0px;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-left: 1rem solid #282828;
        z-index: 999;
      }
      @media only screen and (max-width: 1200px) {
        &::after {
          content: "";
          position:absolute;
          top: -0.875rem;
          left: 50%;
          right: unset;
          border-top: unset;
          border-left: 1rem solid transparent;
          border-right: 1rem solid transparent;
          border-bottom: 1rem solid #282828;
        }
      }
    }
    .title {
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1.25rem;
    }
    .content {

    }
    .date {
      font-size: 0.875rem;
      font-weight: 500;
    }
    .read-more {
      font-size: 0.875rem;
      font-weight: 700;
    }
  }
  nav {
    background-color: unset;

    .page-link {
      color: #333538;
      background-color: unset;
      font-size: 1rem;
      font-weight: 500;
      border: 0.125rem solid #333538;
      border-radius: unset !important;
      padding: 0.875rem 1.125rem;
      margin-left: 0.3125rem;
      margin-right: 0.3125rem;

      &:hover {
        color: #d7d7d7;
        background-color: #333538;
      }
    }
  }
}
